html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  display: flex;
  font-size: 16px;
  font-weight: 300;
  color: #39c258;
  text-decoration: none;
  margin-bottom: 1rem;
  width: fit-content;
  border-bottom: 1px solid transparent;
}

a:hover,
a:focus {
  border-bottom: 1px solid #39c258;
}

* {
  box-sizing: border-box;
}

h1 {
  font-size: 35px;
  font-weight: 300;
  margin: 0 0 1rem 0;
  padding: 0;
  color: #0a4856;
}

p {
  font-size: 18px;
  font-weight: 300;
  margin: 0 0 1rem 0;
  padding: 0;
  color: rgba(10,72,86,.5);
}