.container {
    padding: 1.5rem;
}

.main {
    min-height: 100vh;
    flex: 1;
    display: flex;
    flex-direction: column;
}

.error {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    padding: 1rem 1.5rem;
    border-radius: 20px;
    background-color: red;
    color: white;

    font-size: 18px;
    font-weight: 300;
}