.table {
    display: table;
    width: 100%;
    background: white;
    box-shadow: 0 0.16rem 0.36rem 0 rgba(0,0,0,.25);
    overflow: hidden;
    transition: color 0.35s ease-in-out;
    border-collapse: collapse;
}

.table > thead {
    background-color: #F6F6F6;
}

.table > thead > tr > th {
    font-size: 18px;
    font-weight: 300;
    padding: 1rem;
    text-align: left;
    color: #0a4856;
}

.table > thead > tr > th:last-child {
    text-align: center;
}

.table > tbody {
    background-color: white;
}

.table > tbody > tr {
    border-bottom: 1px solid #ececec;
}

.table > tbody > tr:hover,
.table > tbody > tr:focus {
    background-color: #39c258;
    border-color: #39c258;
}

.table > tbody > tr > td {
    font-size: 16px;
    font-weight: 300;
    color: rgba(10,72,86,.5);
    padding: 1rem;
    text-align: left;
}

.table > tbody > tr > td:last-child {
    display: flex;
    justify-content: space-evenly;
    border-bottom: none;
}

.table > tbody > tr:hover > td,
.table > tbody > tr:focus > td {
    color: white;
}

.table > tbody > tr:hover > td > svg,
.table > tbody > tr:focus > td > svg {
    color: white;
    cursor: pointer;
}
